{% extends "admin/base.html" %}

{% block title %}Teacher Portal{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Teacher Apps</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
