{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bri's Corner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Fjalla+One|Lato:400i">
    <style>
    .w3-fjalla-one {
	    font-family: 'Fjalla One', sans-serif;
    }
    .w3-lato {
	    font-family: 'Lato', sans-serif;
    }
    </style>
</head>

<body class="w3-light-gray">

<div class="w3-container w3-white">
  <div class="w3-panel w3-dark-gray w3-card-2">
     <h1>Taking Time For The Good Stuff, And Automating The Rest</h1>
  </div>
</div>

<div class="w3-container">
  <div class="w3-container">
    {% block content %}{% endblock %}
  </div>
</div>
</body>
</html>

