{% extends 'bri/base.html'  %}

{% block content %}

<div class="w3-container">
  <h2>Completed Assignments</h2>
  <ul>
    {% for class in classes %}
      <li><a href="completed/{{ class.id }}">{{ class.class_group }}</a></li>
    {% endfor %}
  </ul>
</div>
<br>

{% endblock %}

