{% extends 'bri/base.html' %}

{% block content %}

<div class="w3-container">
  <h1>Completed assignments</h1>
</div>
<div class="w3-container w3-responsive">
  {% if not request.user.is_authenticated %}
    <a href='/teacher' class='w3-right'>Teacher Login</a>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <table class="w3-table-all w3-bordered">
      {% for row in chart %}
      <tr>
	{% if forloop.first %}
	  {% for item in row %}
	    <th>{{ item }}</th>
	  {% endfor %}
	{% else %}
	  {% for item in row %}
	    {% if forloop.first %}
	      <th style="white-space:nowrap;">{{ item }}</th>
	    {% else %}
	      <td style="white-space:nowrap;">
		{% if request.user.is_staff %}
		  <input type="radio" name={{ item.id }} value="Y" {{ item.completed|yesno:"checked," }}>Y</input>
		  <input type="radio" name={{ item.id }} value="N" {{ item.completed|yesno:",checked" }}>N</input>
		{% else %}
		  {% autoescape off %}
		  <span class="w3-text-{{ item.completed|yesno:"green,red" }}">{{ item.completed|yesno:"&#10004;,&#10008;" }}</span>
		  {% endautoescape %}
		{% endif %}
	      </td>
	    {% endif %}
	  {% endfor %}
	{% endif %}
      </tr>
      {% endfor %}
    </table>
    <br>
    {% if request.user.is_staff %}
      <input type="submit">
    {% endif %}
  </form>
</div>
<br>
<a href="{% url 'bri:bri' %}">Return to main page</a>

{% endblock %}

